body {
    font-family: monospace, sans-serif;
    font-size: 1.1em;
    line-height: 1.6;
    margin: 2em;
    color: #eee;
    background-color: #222;
}

h1, h2 {
    color: #eee;
    border-bottom: 1px solid #777;
    padding-bottom: 0.3em;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 0.6em;
}

a {
    color: #80dfff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
}

p {
    margin-bottom: 1em;
}

article {
    margin-bottom: 2em;
}
